h2{
    text-decoration: underline;
    text-align: center;
}
p{
    line-height: 1.6;
    color: #333333;
}
.news{
    margin: 2rem;
    padding: 2rem;
    background-color: #ecc2c2;
    font-family: 'Times New Roman', Times, serif;
}